/.vscode/settings.json
/.venv
__pycache__
/.localize_dict
/.race_jikkyo_comment_dict
/.race_jikkyo_message_dict
/.text_data_dict
*.bak
htranslate_conv.py
htranslate.py
localized_data/assets/textures/chara/chr*/petit